.firstView {
  display: flex;
  background-color: var(--green);
  height: 90vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.firstTextContainer {
}

.firstTextContainer h3 {
  color: var(--light-pink);
  font-weight: normal;
  font-size: 20px;
}
.firstTextContainer h1 {
  color: var(--yellow);
  font-size: 50px;
  font-weight: normal;
}

.firstImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-direction: flex-end;
  position: absolute;
  bottom: 0;
}

.firstImageContainer img {
  display: flex;
  height: 275px;
}
