.fourthView {
  display: flex;
  background-color: var(--purple);
  max-width: 100%;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fourthContentContainer h1 {
  color: white;
  padding-left: 40vw;
  font-weight: bold;
  font-family: var(--cursive);
  font-size: 30px;
  text-shadow: 2px 2px rgb(9, 47, 32);
}

.fourthContentContainer p {
  color: white;
  font-weight: bold;
  padding-left: 5vw;
  padding-right: 5vw;
}

.fourthContentContainer img {
  bottom: 0%;
  height: 250px;
  width: 250px;
  padding-left: 20vw;
}
