:root {
  --purple: #7072a2;
  --pink: #d67cb0;
  --yellow: #f6c253;
  --green: #46bcad;
  --cursive: "Pacifico", cursive;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Truculenta", sans-serif;
}
