/* Proportions, positioning and 
background image for the first view */
.firstView {
  display: flex;
  background-color: var(--green);
  height: 90vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(0deg, #77666686 30%, #85858588 100%),
    url(/assets/images/tacotest6.webp);

  background-size: cover;
  background-position: center;
  justify-content: center;
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.pinkBox {
  background-color: #dc00be99;
  width: 550px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.introduction h1 {
  margin: 0;
  color: whitesmoke;
  font-size: 120px;
  text-shadow: 3px 3px #2f2a2d;
  font-weight: bolder;
  padding: 0;
}

.introduction h2 {
  font-family: var(--cursive);
  color: #ffffff;
  font-weight: normal;
  font-size: 50px;
  text-shadow: 3px 3px #2f2a2d;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 25px;
  margin-top: 0;
}

.introduction h3 {
  color: #f2cd00;
  font-family: var(--cursive);
  font-size: 80px;
  font-weight: lighter;
  text-shadow: 3px 3px #4b3e26;
  padding-bottom: 40px;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

/* CTA button */
.signUp {
  background-color: var(--pink);
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  border-radius: 6px 6px 6px 6px;
  box-shadow: 1.5px 1.5px rgb(65, 30, 62);
  font-family: "Truculenta", sans-serif;
  text-shadow: 1px 1px rgb(65, 30, 62);
}

@media screen and (max-width: 1150px) {
  .introduction h1 {
    font-size: 90px;
  }
  .introduction h3 {
    font-size: 50px;
  }
  .introduction h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .firstView {
    background-image: linear-gradient(0deg, #57434386 80%, #a07d7d88 90%),
      url(/assets/images/tacomobil.webp);
  }
  .introduction h1 {
    font-size: 80px;
  }
  .introduction h3 {
    font-size: 50px;
  }
  .introduction h2 {
    font-size: 25px;
  }
  .pinkBox {
    background-color: #dc00be99;
    width: 365px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
}
