.secondView {
  display: flex;
  background-color: var(--pink);
  height: 90vh;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 4vw;
  padding-right: 4vw;
}

.secondView h2 {
  color: yellow;
  font-family: var(--cursive);
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 3px 3px #531838;
}
.secondView p {
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding-bottom: 10px;
}

.secondView img {
  height: 45vh;
  width: 100vw;
  bottom: 0%;
}
