.thirdView {
  display: flex;
  background-color: var(--green);
  height: 90vh;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thirdContentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whenText h1,
.whereText h1 {
  padding-left: 45vw;
  font-weight: bold;
  font-family: var(--cursive);
  font-size: 30px;
  text-shadow: 2px 2px rgb(9, 47, 32);
}

.whenText h1 {
  color: var(--yellow);
}

.whereText h1 {
  color: #e86581;
}

.whenText p,
.whereText p {
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  padding-left: 4vw;
  padding-right: 4vw;
  text-shadow: 0.5px 0.5px rgb(24, 49, 24);
}

.thirdContentContainer img {
  height: 30vh;
  width: 100vw;
  bottom: 0%;
}
