.thirdView {
  display: flex;
  background-color: var(--yellow);
  height: 90vh;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.registerText {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 5vh;
}
.registerText h1 {
  color: var(--pink);
  font-family: var(--cursive);
  font-weight: normal;
  font-size: 2rem;
}

.placeholderBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--pink);
  height: 300px;
  width: 300px;
  margin-bottom: 5vh;
}

.registerBtnContainer {
  display: flex;
}

.registerBtn {
  background-color: var(--green);
  color: white;
  box-shadow: none;
  border-width: 0px;
  height: 35px;
  width: 120px;
  border-radius: 95px;
}
